<div
  class="min-h-screen md:h-screen flex flex-col p-4 md:p-10 bg-lightBackground dark:bg-darkBackground md:overflow-hidden"
>
  <div
    class="flex flex-col md:flex-row flex-1 gap-4 overflow-auto md:overflow-hidden"
  >
    <!-- Sidebar -->
    <div
      class="w-full md:w-1/4 bg-componentLightBackground dark:bg-componentDarkBackground text-lightText dark:text-darkText p-4 rounded-xl flex flex-col justify-between h-full"
    >
      <div class="flex justify-center pt-6 md:pt-12">
        <img
          src="/images/fotoPerfil_DinisSimoes.png"
          alt="Minha Imagem"
          class="w-24 md:w-32 rounded-full"
        />
      </div>
      <div
        class="p-4 bg-componentLightBackground dark:bg-componentDarkBackground rounded-xl mt-4"
      >
        <ul
          class="list-none space-y-2 text-lightText dark:text-darkText text-sm md:text-base"
        >
          <li class="flex items-center gap-2">
            <i class="pi pi-code text-primary"></i>
            <span>{{ home_resume_1 }}</span>
          </li>
          <li class="flex items-center gap-2">
            <i class="pi pi-user text-primary"></i>
            <span>{{ home_resume_2 }}</span>
          </li>
          <li class="flex items-center gap-2">
            <i class="pi pi-lightbulb text-primary"></i>
            <span>{{ home_resume_3 }}</span>
          </li>
          <li class="flex items-center gap-2">
            <i class="pi pi-headphones text-primary"></i>
            <span>{{ home_resume_4 }}</span>
          </li>
        </ul>
      </div>
      <div class="flex justify-center mt-4">
        <div class="flex gap-4">
          <a
            href="https://www.linkedin.com/in/dinis-f-simoes/"
            target="_blank"
            class="text-lightText dark:text-darkText hover:text-primary text-xl"
          >
            <i class="pi pi-linkedin" style="font-size: 2.5rem"></i>
          </a>
          <a
            href="https://github.com/DinisSimoes"
            target="_blank"
            class="text-lightText dark:text-darkText hover:text-primary text-xl"
          >
            <i class="pi pi-github" style="font-size: 2.5rem"></i>
          </a>
        </div>
      </div>
      <div class="w-full mt-4">
        <p-button
          label="{{ buttonDownloadCV }}"
          icon="pi pi-download"
          class="p-button p-component w-full flex items-center justify-center"
          (onClick)="downloadCV()"
        ></p-button>
      </div>
    </div>

    <!-- Main Content -->
    <div class="w-full md:w-3/4 flex flex-col overflow-hidden h-full">
      <div class="flex flex-col md:flex-row w-full items-center">
        <div class="w-full md:w-10/12">
          <mat-toolbar
            class="rounded-full justify-center p-4 !bg-componentLightBackground dark:!bg-componentDarkBackground"
          >
            <nav class="flex flex-wrap justify-center items-center gap-4">
              <ng-container *ngFor="let item of menuList">
                <a
                  mat-button
                  [routerLink]="item.name"
                  (click)="menuClick(item)"
                  class="!text-lightText dark:!text-darkText"
                >
                  {{ item.description }}
                </a>
                <span
                  class="w-2 h-2 bg-lightText dark:bg-darkText rounded-full hidden md:inline-block"
                  *ngIf="item !== menuList[menuList.length - 1]"
                ></span>
              </ng-container>
            </nav>
          </mat-toolbar>
        </div>
        <div class="w-full md:w-2/12 flex justify-center gap-2 mt-4 md:mt-0">
          <p-toggleButton
            [onLabel]="'PT'"
            [offLabel]="'EN'"
            [(ngModel)]="currentLanguageToggle"
            (onChange)="toggleLanguage($event)"
            class="p-button-rounded p-button-outlined"
          ></p-toggleButton>
          <p-toggleButton
            [onIcon]="'pi pi-sun'"
            [offIcon]="'pi pi-moon'"
            [(ngModel)]="currentThemeToogle"
            (onChange)="toggleTheme($event)"
            class="p-button-rounded p-button-outlined"
          ></p-toggleButton>
        </div>
      </div>
      <div
        #swipeContainer
        class="bg-componentLightBackground dark:bg-componentDarkBackground rounded-xl mt-4 h-full p-6 swipe-area"
      >
        <div>
          <router-outlet></router-outlet>
        </div>
        <div
          *ngIf="isMobile()"
          class="swipe-indicator"
          style="margin-top: 25px"
        >
          <span class="arrow left"></span>
          <span class="arrow right"></span>
          <p>{{ home_swipe }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
