<div class="h-full p-10 bg-lightBackground dark:bg-darkBackground">
<!-- <div #avatarContainer style="width: 10%; height: 50px;"></div> -->
  <div class="flex h-full">
    <!-- Div ocupando 25% -->
    <div
      class="w-1/4 bg-componentLightBackground dark:bg-componentDarkBackground text-lightText dark:text-darkText p-4 text-white rounded-xl flex flex-col justify-between"
    >
      <div>frame</div>
      <div>
        <p>redes sociais</p>
      </div>
      <div class="w-full">
        <p-button label="{{buttonDownloadCV }}" icon="pi pi-download" class="p-button p-component w-full flex items-center justify-center"></p-button>
      </div>
    </div>
    <div class="w-3/4 pl-4 text-white h-full flex flex-col">
      <div class="flex w-full">
        <div class="w-10/12">
          <mat-toolbar
            class="rounded-full justify-center p-4 !bg-componentLightBackground dark:!bg-componentDarkBackground"
          >
            <nav class="flex items-center gap-4">
              <ng-container *ngFor="let item of menuList">
                <a
                  mat-button
                  [routerLink]="item.name"
                  (click)="menuClick(item)"
                >
                  {{ item.description }}
                </a>
                <span
                  class="w-2 h-2 bg-black rounded-full"
                  *ngIf="item !== menuList[menuList.length - 1]"
                ></span>
              </ng-container>
            </nav>
          </mat-toolbar>
        </div>
        <div class="w-2/12 flex items-center justify-center">
          <p-toggleButton
            [onLabel]="'PT'"
            [offLabel]="'EN'"
            [(ngModel)]="currentLanguage"
            (onChange)="toggleLanguage($event)"
            class="p-button-rounded p-button-outlined ml-auto"
          ></p-toggleButton>
          <p-toggleButton
            [onIcon]="'pi pi-sun'"
            [offIcon]="'pi pi-moon'"
            [(ngModel)]="currentTheme"
            (onChange)="toggleTheme($event)"
            class="p-button-rounded p-button-outlined ml-auto"
          ></p-toggleButton>
        </div>
      </div>
      <div
        class="bg-componentLightBackground dark:bg-componentDarkBackground rounded-xl mt-4 h-full p-8"
      >
        <router-outlet></router-outlet>
        <!-- <app-page-about></app-page-about> -->
      </div>
    </div>
  </div>
</div>
