<h3 class="!text-lightText dark:!text-darkText">
    {{lab_title}}
</h3>
<p class="!text-lightText dark:!text-darkText">
    {{lab_subtitle}}
</p>
<p class="!text-lightText dark:!text-darkText">
    {{lab_content}}
</p>
<p class="!text-lightText dark:!text-darkText">
    {{lab_content2}}
</p>
<p class="!text-lightText dark:!text-darkText">{{lab_caution}}</p>

<br>
<br>
<div class="flex justify-center">
    <div class="card flex justify-content-center">
        <p-button class="p-button p-component" label="{{lab_button}}" icon="pi pi-eye" (click)="btnShowLab()"></p-button>
    </div>
</div>
