<p>page-about works!</p>

<div>
    <div class="flex flex-column gap-2">
        <label for="username">Username</label>
        <input 
            pInputText 
            id="username" 
            aria-describedby="username-help" 
            [(ngModel)]="value" />
        <small id="username-help">
            Enter your username to reset your password.
        </small>
    </div>
</div>

<div class="flex flex-column gap-2">
    <label for="username">Username</label>
    <input 
        pInputText 
        id="username" 
        aria-describedby="username-help" 
        [(ngModel)]="value" />
    <small id="username-help">
        Enter your username to reset your password.
    </small>
</div>

<div>
    <p-floatLabel>
        <textarea 
            id="float-input" 
            rows="5" cols="30" 
            pInputTextarea>
        </textarea>
        <label for="float-input">Summary</label>
    </p-floatLabel>
</div>

<div>
    <div class="card flex justify-content-center">
        <p-button label="Check" icon="pi pi-check"></p-button>
    </div>
</div>

