<div class="h-full p-10 bg-lightBackground dark:bg-darkBackground">
<!-- <div #avatarContainer style="width: 10%; height: 50px;"></div> -->
  <div class="flex h-full">
    <!-- Div ocupando 25% -->
    <div
      class="w-1/4 bg-componentLightBackground dark:bg-componentDarkBackground text-lightText dark:text-darkText p-4 text-white rounded-xl"
    >
      <div>frame</div>
      <div>
        <p>redes sociais</p>
      </div>
      <div>
        <p-button label="CV" icon="pi pi-download"></p-button>
      </div>
    </div>
    <div class="w-3/4 pl-4 text-white h-full flex flex-col">
      <div class="flex w-full pl-12">
        <div class="w-11/12">
          <mat-toolbar
            class="bg-brown-500 rounded-full justify-center p-4 bg-componentLightBackground dark:bg-componentDarkBackground"
          >
            <nav class="flex items-center gap-4">
              <a
                mat-button
                routerLink="/"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }"
                >Sobre mim</a
              >
              <span class="w-2 h-2 bg-black rounded-full"></span>
              <a mat-button routerLink="/sobre" routerLinkActive="active-link"
                >Laboratorio</a
              >
              <span class="w-2 h-2 bg-black rounded-full"></span>
              <a mat-button routerLink="/contato" routerLinkActive="active-link"
                >Contato</a
              >
            </nav>
          </mat-toolbar>
        </div>
        <div class="w-1/12 flex items-center justify-center">
          <p-toggleButton
            [onIcon]="'pi pi-sun'"
            [offIcon]="'pi pi-moon'"
            [(ngModel)]="currentTheme"
            (onChange)="toggleTheme($event)"
            class="p-button-rounded p-button-outlined ml-auto"
          ></p-toggleButton>
        </div>
      </div>
      <div
        class="bg-componentLightBackground dark:bg-componentDarkBackground rounded-xl mt-4 h-full p-8"
      >
        conteudo
      </div>
    </div>
  </div>
</div>
